/* styles.css */
.App {
    font-family: sans-serif;
    text-align: center;
    padding-top: 100px;
  }
  
  .hex {
    cursor: pointer;
  }
  
  .hex.A div {
    background: #ede;
  }
  
  .hex.B div {
    background: #dee;
  }
  
  .hex:hover div {
    border-color: #bb9 !important;
  }
  
  .hex:active div {
    border-color: #faf !important;
  }
  
  /* Responsive styles */
  @media (max-width: 600px) {
    .App {
      padding-top: 50px; /* Adjust padding for smaller screens */
    }
  
    .hex {
      width: 80px; /* Adjust the hexagon size for smaller screens */
      height: 80px;
    }
  }
  
  @media (max-width: 400px) {
    .hex {
      width: 60px; /* Further adjust the hexagon size for even smaller screens */
      height: 60px;
    }
  }
  